body{
    background-color: #212529;
}

#display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-evenly;
    /* background-color: #212529; */

  }
#card{
    /* background-color: #212529; */
    margin: 20px;
    padding: 10px;
}
#func{    
        
        display: flex;
        justify-content: space-between;
        margin: 2%;
    

}
#func > input{
    border: white 1px solid;
    border-radius: 5px;
    background-color: #212529;
    color: white;
    padding: 5px;
    height: 20px;
}
#func > button{
    border: white 1px solid;
    border-radius: 5px;
    background-color: #212529;
    color: white;
    height: 20px;
}




@media all and (min-width: 320px) and (max-width: 767px) {
    #display {
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  @media all and (min-width: 1024px) and (max-width: 1439px) {
   
  }