#login_main{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
#inner{
    padding: 0px;
    color: white;    
    width: 30%
}

 input {
    width: 73%;
    height: 27px;
}

button{
    width: 73%;
    height: 27px;
    border-radius: 5px;
    background-color: rgb(57, 56, 56);
    border: none;

    color: white;
}
label{
    color: yellow;
    text-decoration: underline;
}
form{
    margin: auto;
}