

.container-fluid{
    width: 70%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.container-fluid > *{
    margin-left: 10px;
}
#a{
    display: flex;
    flex-direction: row;
    margin: auto;
    width:40%;
    justify-content: end;
}
#a > a{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width:20%;
    text-decoration: none;
    color: white;
}
#a > a:hover{   
    color: orange;
}
#main{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

@media all and (min-width : 320px) and (max-width:767px){
    .container-fluid{
        width: 10%;
        
    }
    #a{
        
        width:90%;
    }
}

.container-fluid > h1{
    color: rgb(152, 85, 85);
}